.work {
  padding: 0;
  margin: 0;
  /* background-image: url('https://s3.us-west-1.wasabisys.com/ft-backgrounds/-mreflowMatt_Wolfe_a_colorful_digital_background_477e314c-c8c2-4491-88d5-1194cd417006.jpeg'); */
  background-size: cover;
  background-position: center;
  width: 100vw;
  /* height: calc(100vh - 150px); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs {
  border: 1px solid rgb(172, 172, 172);
  border-radius: 6px;
  width: 500px;
  z-index: 14;
  position: absolute;
  overflow: hidden;
}

@media (max-width: 400px) {
  .fs {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 6px;
    width: 500px;
    z-index: 14;
    position: static;
    overflow: hidden;
  }
}

.header {
  display: flex;
  background: linear-gradient(
    0deg,
    rgba(192, 192, 192, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 6px 6px 0 0;
  width: 100%;
  /* align-items: center; */
  justify-content: space-between;
  /* padding: 10px; */
  border-bottom: 2px solid rgb(172, 172, 172);
}

.header p {
  text-align: center;
  font-size: 13px;
  flex-grow: 1;
  margin-right: 36px;
  color: #555255;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  margin-left: 5px;
}

.buttons button:nth-child(1) {
  /* Styles for the first button */
  background-color: #ff5f58;
}

.buttons button:nth-child(2) {
  /* Styles for the second button */
  background-color: #ffbe2f;
}

.buttons button:nth-child(3) {
  /* Styles for the third button */
  background-color: #2ac940;
}

.content {
  background-color: #ececec;
  display: grid;
  grid-template-columns: repeat(2, 0.85fr) 1.3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* max-height: 250px; */
}

.folders {
  border-right: 1px solid rgb(172, 172, 172);
  margin-top: 5px;
  font-weight: 500;
  font-size: 13px;
}

.folders div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  padding-left: 5px;
}

.folders div p {
  padding: 0px;
  margin: 0px;
  margin-right: 10px;
  width: 30px;
  text-align: center;
  color: #ededed;
  font-size: 11px;
  border-radius: 6px/7px;
  background-color: #b6b6b6;
  height: 70%;
}

@media (max-width: 400px) {
  .folders div p {
    /* display: none; */
  }

  .folders div label {
    width: calc(105px - 30px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .folders {
    width: 105px;
  }

  .files {
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* .files p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */
}

.selected {
  background-color: #d8d8d8;
}

.selectedfile {
  background-color: #3997fe;
}

.files {
  border-right: 1px solid rgb(172, 172, 172);
  /* font-weight: 500; */
  font-size: 13px;
  max-width: 1fr;
  flex-wrap: wrap;
  text-overflow: ellipsis;
}

.files div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  padding-left: 5px;
}

.file p {
  overflow: hidden;
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  height: 17px;
  padding: 0;
  margin: 0;
}

.preview {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  font-size: 12px;
}

.preview p {
  padding: 0;
  margin: 0;
}

.image {
  margin-top: 20px;
  max-width: 125px;
}

.filename {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 215px;
  text-align: center;
}

@media (max-width: 400px) {
  .filename {
    width: 110px;
  }
}

.filecreated {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.filelink {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: right;
}

.filelink a {
  width: 100%;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filelink a {
  font-weight: 700;
  color: #1e90ff;
  cursor: pointer;
}

.seperator {
  height: 2px;
  background-color: #e4e4e4;
  width: 80%;
}

.draghandle {
  cursor: grab;
}

.appgrid div {
  position: absolute;
  top: 100px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* z-index: -1; */
}

.appgrid div p {
  margin: -7.5px;
  font-size: 14px;
  font-weight: 500;
}

.appgrid div:nth-child(1) {
  left: calc(20px);
}

.appgrid div:nth-child(2) {
  left: calc(128px);
}

.mobileAppGrid {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  position: absolute;
  top: 125px;
}

.mobileAppGrid div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* z-index: -1; */
}

.mobileAppGrid div p {
  margin: -7.5px;
  font-size: 14px;
  font-weight: 500;
}

.mobileFsGrid {
  margin-top: 210px;
  height: 100vh;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

@media (max-width: 400px) {
  .fs {
    margin-bottom: 10px;
  }
}

.currentTime {
  position: absolute;
  top: 70px;
  /* left: 10px; */
  font-size: 22px;
  font-weight: 600;
  color: white;
  background-color: black;
  text-align: center;
  width: 100px;
  z-index: -1;
}

@media (max-width: 450px) {
  .fs {
    width: 90vw;
  }

  .header {
    height: 25px;
  }

  .buttons button {
    transform: scale(0.8);
    height: 22px;
    border: none;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 1px;
  }
}
